In [2]:
nums = [3,2,4,3,7,1,7,-1,9,3,-3]
target = 6
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i]+nums[j]==target:
#             L.append(i)
            print([nums[i],nums[j]])

[3, 3]
[3, 3]
[2, 4]
[3, 3]
[7, -1]
[7, -1]
[9, -3]

In [31]:
input1=123
output=321

input2=-123
output=-321

dd=int(input("enter the num"))
if dd>0:
    mm=int(str(dd)[::-1])
    print(mm)
elif dd<0:
    hh=int(str(abs(dd))[::-1])
    print(-hh)

enter the num -675

-576

In [55]:
# Input: 
x = 121
# Output: 
# true
# Explanation: 121 reads as 121 from left to right and from right to left.

str1=str(x)
for i in str1:
    if str1==str1[::-1]:
        print("True")
    else:
        print("False")

True
True
True

In [2]:
# Example 1:

# Input: x = 123
# Output: 321
    
# Example 2:

# Input: x = -123
# Output: -321

x=-123
if x>0:
    ss=str(x)[::-1]
    print(int(ss))
if x<0:
    hh=int(str(abs(x))[::-1])
    print(-hh)

-321

In [13]:
l1 = [2,4,3]
l2 = [5,6,4]
Output= [7,0,8]
# Explanation: 342 + 465 = 807.

ss=int("".join(map(str,l1[::-1])))
hh=int("".join(map(str,l2[::-1])))
total=ss+hh
kk=[]
for i in str(total):
    kk.append(int(i))
print(kk[::-1])

[7, 0, 8]

In [5]:
list(map(lambda x,y:x+y,[2,4,3],[5,6,4]))

[7, 10, 7]

In [113]:
hh=ss+ss1
hh

[2, 4, 3, 5, 6, 4]

In [23]:
ss=int(input("enter the number"))
if ss>1:
    for i in range(2,ss):
        if ss%i==0:
            print(ss,"is not a prime number")
            break
    else:
        print(ss,"is a prime number")
else:
    print(ss,"is not a prime number")

enter the number 20

20 is not a prime number

In [ ]:
# Write a Python program to check if a string is a palindrome.
# Write a Python program to find the factorial of a number.
# Write a Python program to find the largest element in a list.
# Write a Python program to reverse a string.
# Write a Python program to count the frequency of each element in a list.
# Write a Python program to check if a number is prime.
# Write a Python program to find the common elements between two lists.
# Write a Python program to sort a list of elements using the bubble sort algorithm.
# Write a Python program to find the second largest number in a list.
# Write a Python program to remove duplicates from a list.

In [6]:
# Write a Python program to remove duplicates from a list.
ss=[2,3,1,2,4,5,4,5,7,8]
hh=[]
for i in ss:
    if i not in hh:
        hh.append(i)
print(hh)

[2, 3, 1, 4, 5, 7, 8]

In [10]:
# Find duplicates
dd=[]
for i in ss:
    if ss.count(i)>1 and i not in dd:
        dd.append(i)
print(dd)

[2, 4, 5]

In [18]:
ee=[1,2,3,4,1]

dd={}
for i in ee:
    dd[i]=(i**3)
print(dd)

{1: 1, 2: 8, 3: 27, 4: 64}

In [46]:
nums = [3,2,1,5]
target = 6

ppl=[]
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i]+nums[j]==target:
            print([i,j])

[2, 3]

In [50]:
# convert a integer into decimal

int = 10
ss = float(10)
print(type(ss))

<class 'float'>

In [62]:
# Convert a string of integer into a float.
x='123'
float(x)

123.0

In [65]:
# Reverse a string
x='madama'
ss=x[::-1]
print(ss)

amadam

In [13]:
# Counting vowel in a given word
word = 'prougraammiing'

v=['a','e','i','o','u']
count = 0
for i in word:
    if i in v:
        count+=1
print(count)

6

In [84]:
# count each vowels in word
dd={}
for i in word:
    if i in v:
        dd[i]=word.count(i)
print(dd)

{'o': 1, 'u': 1, 'a': 2, 'i': 2}

In [12]:
# Counting the number of occurances of a character in a string.
word = 'programming'
charc ='g'

count=0
for i in word:
    if i in charc:
        count+=1
print(count)

2

In [1]:
# write the fibonacci series.
# fibonacci series = 0,1,1,2,3,5,8

fib = [0,1]

for i in range(10):
    fib.append(fib[-1]+fib[-2])
print(fib)

# for i in fib:
#     print(i,end=",")

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [266]:
ss = [3,34,2,55,21, 1092,34, 55, 91,89]

dd=ss[0]
for i in ss:
    if i>dd:
        dd=i
print(dd)

1092

In [10]:
# Find the minimum number in the list
ss = [3,34,2,55,21, 1092,34, 55, 91,89]

dd=ss[0]
for i in ss:
    if dd>i:
        dd=i
print(dd)

2

In [17]:
# find middle element in list
ss = [3,34,2,55,21, 1092,34, 55, 91,89]
ss[len(ss)//2]

1092

In [16]:
# convert a list into a string

ss = ['p','y','t','h','o','n']

tt="".join(ss)
tt

'python'

In [24]:
list(map(lambda x,y:x+y,[1,2,3],[4,5,6]))

[5, 7, 9]

In [174]:
# Adding two list together

list(map(lambda x,y:x+y,[2,5,12,5],[7,12,11,15]))

[9, 17, 23, 20]

In [23]:
ss=[9,17,23,1,20]
dd=sorted(ss)
dd

[1, 9, 17, 20, 23]

In [34]:
num_list = [5, 2, 9, 1, 7]

# Using sort() - In-Place Sorting
num_list.sort(reverse=True)
print(num_list)
# sorted(num_list)

[9, 7, 5, 2, 1]

In [186]:
# Comparing two string is Anagram

tt = "listEn"
hh="silent"

if sorted(tt.lower())==sorted(hh.lower()):
    print("anagram")
else:
    print("not anagram")

anagram

In [187]:
# Checking Palindrome

ss="kayak"
if ss==ss[::-1]:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [117]:
# Count whitespace in String

ss = "asfg eyj eyh jn e"

count = 0
tt=" "
for i in ss:
    if tt in i:
        count+=1
print(count)

4

In [119]:
count=0
for i in ss:
    if i in tt:
        count+=1
print(count)

4

In [208]:
# Counting digit,letter and spaces in a String.
ss = "prohyta5473 try wwecd7839 "
# digit = [0,1,2,3,4,5,6,7,8,9]
# space = " "
# letter = ["^a-zA-z"]


def cnt(s):
    digit=0
    space=0
    letter=0
    for i in ss:
        if i.isdigit():
            digit+=1
        elif i.isspace():
            space+=1
        elif i.isalpha():
            letter+=1
    return digit,space,letter

In [209]:
cnt("prohyta5473 try wwecd7839 ")

(8, 3, 15)

In [121]:
# Remove all white spaces in a string
ss = "prohyta5473 try wwecd7839 "

# ss.replace(" ","")
"".join(ss)

'prohyta5473 try wwecd7839 '

In [215]:
for i in ss.split(" "):
    tt="".join(i)
    print(tt,end="")

prohyta5473trywwecd7839

In [1]:
# Building a Pyramid in Python.

for i in range(5):
    for j in range(i,5):
        print(" ",end="")
    for j in range(i+1):
        print("*",end="")
    for j in range(i):
        print("*",end="")
    print("")

     *
    ***
   *****
  *******
 *********

In [4]:
for i in range(5):
    for j in range(i,5):
        print(" ",end="")
    for j in range(i+1):
        print("*",end="")
    print("")

     *
    **
   ***
  ****
 *****

In [5]:
for i in range(5):
    print(" ",end="")

In [16]:
dd=[]
for i in range(2,50):
    if is_prime(i):
        dd.append(i)

NameError: name 'is_prime' is not defined

In [23]:
def is_prime(number):
    if number <= 1:
        return False
    if number == 2:
        return True

    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

In [27]:
is_prime(23)

True

In [39]:
def is_prime(number):
    if number <= 1:
        return False
    if number == 2:
        return True

    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

def prime_in_range(start, end):
    primes = []
    for num in range(start, end + 1):
        if is_prime(num):  # Using the defined is_prime function
            primes.append(num)
    return primes

# Calling the Function
print(prime_in_range(1, 20))

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
# Input: nums = [10,20,30,5,10,50]
# Output: 60

tt = ss[0]
nums = [10,20,30,5,10,50]
outp=65

for i in nums:
    if

In [123]:
nums = [2,7,11,15]
target = 18
# Output= [0,1]

ss=[]
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i]+nums[j]==target:
            print([nums[i],nums[j]])

[7, 11]

In [63]:
x = -121
# Output: true

int(str(x)[::-1])

ValueError: invalid literal for int() with base 10: '121-'

In [ ]:
dd=[]
for i in range(3):
    name=str(input("enter the name"))
    age=int(input("ente the age"))
    dd.append({"name":name,"age":age})
print(dd)
hh=sorted(dd,key=lambda x:x["age"])
print(hh)

In [32]:
input_list = [[12, 21, 32], [12, 23, 43, 11]]
mm=[]
# for i in input_list:
#     if isinstance(i,list):
#         mm.extend(i)
#     else:
#         mm.append(i)
# print(mm)

for i in input_list:
    for j in i:
        mm.append(j)
print(mm)

[12, 21, 32, 12, 23, 43, 11]

In [48]:
input_list = [12, 21, 32, 12, [23, 43, 11]]
output_list = []

# Use a for loop to iterate over each item in the input list
for item in input_list:
    if isinstance(item, list):  # Check if the item is a list
        output_list.extend(item)  # Add elements of the inner list to output_list
    else:
        output_list.append(item)  # Add the item to output_list

print(output_list)

[12, 21, 32, 12, 23, 43, 11]

In [65]:
# Write a Python code to concatenate two strings.
ss = "Hello"
tt = "world"
hh= ss+" "+tt
hh

'Hello world'

In [66]:
# Write a Python program to find the maximum of three numbers.

def max_three_numbers():
    if a>=b and a>=c:
        return a
    elif b>=a and b>=c:
        return b
    else:
        return c

In [68]:
max_three_numbers((12,21,34))

TypeError: max_three_numbers() takes 0 positional arguments but 1 was given

In [83]:
hh = [10,21,23,43,99,67,85,11]

ss=hh[0]

for i in hh:
    if i<ss:
        ss=i
print(ss)

10

In [87]:
sum=0
for i in range(20):
    sum=sum+i
print(sum)

190

In [98]:
list(map(lambda x,y=3:x*y, [1,2,3]))

[3, 6, 9]

In [95]:
# creating a list 

ss=[]
for i in range(1,10):
    ss.append(i)
print(ss)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
ss=[]
for i in range(2):
    name = input("enter the name :")
    age = int(input("enter the age"))
    ss.append({"name":name,"age":age})
print(ss)

# sorted(ss,key = lambda x:x["age"])

TypeError: 'str' object is not callable

In [130]:
ss = []
for i in range(2):
    name = input("Enter the name: ")   # No need to wrap input in str(), it's already string
    age = int(input("Enter the age: "))
    ss.append({"name": name, "age": age})

print(ss)

TypeError: 'str' object is not callable

In [132]:
nums = [2,7,1,11,15,11,32,32]
target = 40
# Output= [0,1]

tt=[]
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        for k in range(j+1,len(nums)):
            if nums[i]+nums[j]+nums[k]==target:
                tt.append([i,j,k])
print(tt)

[[1, 2, 6], [1, 2, 7]]

In [137]:
# fibnacci series

fib = [0,1]

for i in range(10):
    fib.append(fib[-1]+fib[-2])
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [145]:
# add all zero at the  end 
tt = [1,2,0,4,0,5,0,5]

for i in tt:
    if i==0:
        tt.remove(i)
        tt.append(i)
print(tt)

[1, 2, 4, 5, 5, 0, 0, 0]

In [148]:
# change pos last to first and first to last
tt = [10, 20, 30, 40, 50]
tt[0],tt[-1] = tt[-1],tt[0]
print(tt)

[50, 20, 30, 40, 10]

In [ ]:
# sort the element
lst = [50, 10, 40, 20, 30]

# Bubble Sort Algorithm
for i in range(len(lst) - 1):  
    for j in range(len(lst) - i - 1):  
        if lst[j] > lst[j + 1]:  
            lst[j], lst[j + 1] = lst[j + 1], lst[j]  # Swap elements

print(lst)  # Sorted list in ascending order

In [66]:
## find Non-repeating Character
input1="aabbc"
output = "c"

for i in input1:
    if input1.count(i)==1:
        output=i
        break
print(output)

c

In [1]:
ss=[1,2,1,7,34,34,5,2,5,6,9,7]

dd=[]
for i in ss:
    if ss.count(i)==1:
        dd.append(i)
print(dd)

[6, 9]

In [107]:
ss="a fgf dt it"

tt=[]
for i in ss:
    if ss.count(i)==1:
        output=i
        # tt.append(i)
        print(output)

a
g
d
i

In [5]:
select distinct(salary) from emp
order by salary desc
offset 0 rows
fetch next 1 rows

SyntaxError: invalid syntax (3003919805.py, line 1)

In [6]:
df.groupby('category')['sales'].sum().reset_index()

NameError: name 'df' is not defined

In [7]:
dd=[2,4,3,7,3,9]
ss=dd[0]

for i in dd:
    if i>ss:
        ss=i
print(ss)

9

In [25]:
# Remove Duplicate
dd=[2,4,3,4,7,2,3,9]

rr=set()
hh=set()
for i in dd:
    if i in rr:
        hh.add(i)
    rr.add(i)
print(list(hh))

[2, 3, 4]

In [68]:
for i in dd:
    if

SyntaxError: incomplete input (141371078.py, line 1)

In [29]:
dd=[2,3,4,1,2,6,5,5,7,4,0]

hh=set()
mm=set()
for i in dd:
    if i in hh:
        mm.add(i)
    hh.add(i)
print(list(hh))

[0, 1, 2, 3, 4, 5, 6, 7]

In [82]:
# Remove the Duplicate
dd=[2,4,3,4,7,2,3,9]

ff=set()
gg=set()
for i in dd:
    if i in ff:
        gg.add(i)
    ff.add(i)
print(list(ff))

[2, 3, 4, 7, 9]

In [289]:
# Find Duplicate
dd=[2,4,3,4,7,2,3,9]

rr=set()
hh=set()
for i in dd:
    if i in rr:
        hh.add(i)
    rr.add(i)
print(list(hh))

[2, 3, 4]

In [5]:
dd=[1,2,0,3,0,0,0]

ff={}
for i in dd:
    ff[i]=dd.count(i)
print(ff)

{1: 1, 2: 1, 0: 4, 3: 1}

In [65]:
dd=[1,2,0,3,0,0,0]

hh=dd[0]
for i in dd: 
    if i < hh:
        hh=i
print(hh)

0

In [72]:
dd=(1,2,0,3,0,0,0)

ff=sorted(dd)
ff

[0, 0, 0, 0, 1, 2, 3]

In [81]:
# second element in list
ss=[12,21,32,22,43,45,11]
ff=sorted(ss,reverse=True)
ff[1]

43

In [83]:
# occurence of element in list
ss=[23,21,22,34,43,54,12,21,33,34]
dd={}
for i in ss:
    dd[i]=ss.count(i)
print(dd)

{23: 1, 21: 2, 22: 1, 34: 2, 43: 1, 54: 1, 12: 1, 33: 1}

In [285]:
ss=[23,21,22,34,43,54,12,21,33,34]
from collections import Counter
ff=Counter(ss)
jj=[]
for i in ss:
    if ff[i]==1:
        jj.append(i)
print(jj)

[23, 22, 43, 54, 12, 33]

In [88]:
# check anagram
s1="madam"
s2="MamDa"

sorted(s1.lower())==sorted(s2.lower())

False

In [92]:
str1 = "Hello"
str2 = "World"

str1+" "+str2

'Hello World'

In [96]:
ss=[23,21,22,34,43,54,12,21,33,34]
ff=sorted(ss,reverse=True)
print(ff)
print(ff[:3])

[54, 43, 34, 34, 33, 23, 22, 21, 21, 12]
[54, 43, 34]

In [100]:
ss=[54, 43, 12,34, 34, 33, 23, 22, 21, 21, 12]

gg=set()
hh=set()
for i in ss:
    if i in gg:
        hh.add(i)
    gg.add(i)
print(list(hh))

[34, 12, 21]

In [106]:
ss="ertyukwebnmghieua"
vow =["a","e","i","o","u"]
count={}
for i in ss.lower():
    if i in vow:
        count[i]=ss.count(i)
print(count)

{'e': 3, 'u': 2, 'i': 1, 'a': 1}

In [115]:
# fab series
fib=[0,1]
for i in range(10):
    fib.append(fib[-1]+fib[-2])
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [131]:
# factorial
fac=1
for i in range(1,5):
        fac*=i
print(fac)

24

In [286]:
# merge two dic
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

d3=dict1|dict2
d3

{'a': 1, 'b': 3, 'c': 4}

In [129]:
list(map(lambda x,y:x+y,[1,2,3],[5,4,3]))

[6, 6, 6]

In [145]:
ss = "prohyta5473 try wwecd7839 "


def wrt(s):
    tt=0
    mm=0
    hh=0
    for i in ss:
        if i.isdigit():
            tt+=1
        elif i.isspace():
            mm+=1
        elif i.isalpha():
            hh+=1
    return tt,mm,hh

In [146]:
wrt("prohyta5473 try wwecd7839 ")

(8, 3, 15)

In [149]:
sum=0
for i in range(5):
    sum+=i
print(sum)

10

In [35]:
# find duplicate
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

dd=[]
for i in list1:
    for j in list2:
        if i==j:
            dd.append(i)
print(dd)

[3, 4]

In [81]:
for i in list1:
    if i in list2:
        print(i)

3
4

In [166]:
# find duplicate
list1 = [1, 2, 3, 4,5,1,2]

hh=set()
gg=set()
for i in list1:
    if i in hh:
        gg.add(i)
    hh.add(i)
print(list(gg))

[1, 2]

In [177]:
ss="The fox jumps over the lazy dog"

hh=ss.split()
max(hh,key=len)

'jumps'

In [185]:
# count upper letter
ss="TDhe"
count=0
for i in ss:
    if i.isupper():
        count+=1
print(count)

2

In [187]:
ss=[2,3,4,5]

count=1
for i in ss:
    count*=i
print(count)

120

In [287]:
# Remove Specific Elements from List
dd=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
gg= ['Green', 'White', 'Black']
ff=[]
for i in dd:
    if i not in gg:
        ff.append(i)
print(ff)

['Red', 'Pink', 'Yellow']

In [201]:
ss=[2,4,1,4,6,3,8,5]
gg=[]
for i in ss:
    if i%2!=0:
        gg.append(i)
print(gg)

[1, 3, 5]

In [202]:
ss=[2,4,1,4,6,3,8,5]
ss[::-1]

[5, 8, 3, 6, 4, 1, 4, 2]

In [203]:
ss=[2,4,1,4,6,3,8,5]
hh=[]
for i in ss:
    hh.append(i**2)
print(hh)

[4, 16, 1, 16, 36, 9, 64, 25]

In [205]:
ss=[4, 16, 1, 16, 36, 9, 64, 25]
hh=sorted(ss,reverse=True)
hh

[64, 36, 25, 16, 16, 9, 4, 1]

In [213]:
ss=[4, 16, 1, 16, 36, 9, 64, 25,7]
hh=[64, 36, 25, 16, 16, 11, 4, 1,12]
mm=[]
for i in ss:
    if i not in hh:
        mm.append(i)
print(mm)

[9, 7]

In [215]:
ss=ss=[4, 16, 1]
count=1
for i in ss:
    count*=i
print(count)

64

In [222]:
ss=[4, 16, 1,20]
hh=ss[1:-1]
hh

[16, 1]

In [233]:
ss=[2,3,4,1,2,5]
gg=[4,5,2,3,7,8]

dd=ss+gg
print(sorted(dd))

[1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 7, 8]

In [240]:
dd=[1,1,4,8,12,7,18,14]

count=0
count1=0
for i in dd:
    if i%2==0:
        count+=1
    elif i%2!=0:
        count1+=1
print(count)
print(count1)

5
3

In [241]:
# convert two list into a dictionary
d1=[2,3,4,5,6,7]
d2=[4,5,8,9,1,4]
dict(zip(d1,d2))

{2: 4, 3: 5, 4: 8, 5: 9, 6: 1, 7: 4}

In [247]:
ss={"p":3,"c":5,"r":6}
dd={"m":4,"N":9,"Q":1}
d3=ss|dd
d3

{'p': 3, 'c': 5, 'r': 6, 'm': 4, 'N': 9, 'Q': 1}

In [249]:
d1=[2,3,4,5,6,7]
d2=[4,5,8,9,1,4]
l3=d1+d2
l3

[2, 3, 4, 5, 6, 7, 4, 5, 8, 9, 1, 4]

In [254]:
ss={'p': 3, 'c': 5, 'r': 6, 'm': 4, 'N': 9, 'Q': 1}

for key,value in ss.items():
    key.pop()
print(key)

AttributeError: 'str' object has no attribute 'pop'

In [26]:
nums1 = [1,2,3,0,0,0]
nums2 = [2,5,6]
Output: [1,2,2,3,5,6]
nums3=nums1+nums2
nums3

[1, 2, 3, 0, 0, 0, 2, 5, 6]

In [27]:
for i in nums3:
    if i==0:
        nums3.remove(i)
print(nums3)

[1, 2, 3, 0, 2, 5, 6]

In [5]:
# Longest Substring Without Repeating Characters
# def length_of_longest_substring(s: str) -> int:
#     char_set = set()
#     left = 0
#     max_length = 0
#     right = 0
    
#     while right < len(s):
#         if s[right] not in char_set:
#             char_set.add(s[right])
#             max_length = max(max_length, right - left + 1)
#             right += 1
#         else:
#             char_set.remove(s[left])
#             left += 1

#     return max_length

# # Test Cases
# print(length_of_longest_substring("abcabcbb"))  # Output: 3
# print(length_of_longest_substring("bbbbb"))     # Output: 1





s = "abcabcbb"

# Initialize variables
max_length = 0
start = 0
char_index = {}

# Iterate through the string
i = 0
while i < len(s):
    if s[i] in char_index and char_index[s[i]] >= start:
        start = char_index[s[i]] + 1  # Move start to the right

    char_index[s[i]] = i  # Store last index of character
    max_length = max(max_length, i - start + 1)  # Update max length
    i += 1

print(max_length)  # Output: 3

3
1

In [92]:
input1 = [11,21,23,1,3,[12,34,43,67],4]
output= [11,21,23,1,3,4,12,34,43,67]
ss=[]
for i in input1:
    if isinstance(i,list):
        ss.extend(i)   
    else:
        ss.append(i)
print(ss)

[11, 21, 23, 1, 3, 12, 34, 43, 67, 4]

In [117]:
# max number character and how many times

ss="i am anand sagar i need to go to school"
dd={}
for i in ss.replace(" ",""):
    dd[i]=ss.count(i)
print(dd)
most=max(dd,key=dd.get)
print(most)
print(dd[most])

{'i': 2, 'a': 5, 'm': 1, 'n': 3, 'd': 2, 's': 2, 'g': 2, 'r': 1, 'e': 2, 't': 2, 'o': 5, 'c': 1, 'h': 1, 'l': 1}
a
5

In [44]:
start = 0
max_length = 0
char_index = {}
longest_substring = ""

for i in range(len(s)):
    if s[i] in char_index and char_index[s[i]] >= start:
        start = char_index[s[i]] + 1
    char_index[s[i]] = i
    if i - start + 1 > max_length:
        max_length = i - start + 1
        longest_substring = s[start:i+1]
print(f"Longest Substring: '{longest_substring}'")
print(max_length)

Longest Substring: 'abc'
3

In [56]:
x = -123
# Output: 321
# Example 2:

# Input: x = -123
# Output: -321

if x>0:
    print(int(str(x)[::-1]))
if x<0:
    print(str(abs(x)[::-1]))

TypeError: 'int' object is not subscriptable

In [59]:
x=-123
if x>0:
    ss=str(x)[::-1]
    print(int(ss))
if x<0:
    hh=int(str(abs(x))[::-1])
    print(-hh)

-321

In [61]:
list1 = [1,2,4]
list2 = [1,3,4]
Output: [1,1,2,3,4,4]

ss=list1+list2
sorted(ss)

[1, 1, 2, 3, 4, 4]

In [64]:
list1 = []
list2 = []
if len(list1) >0 and len(list2)>0 :
    l1=list1+list2
    print(sorted(l1))
else:
    print(([]))

[]

In [73]:
s="1222311"
result = []
count = 1

for i in range(1, len(s)):
    if s[i] == s[i - 1]:
        count += 1
    else:
        result.append((count, int(s[i - 1])))
        count = 1

result.append((count, int(s[-1])))

for item in result:
    print(item, end=" ")

(1, 1) (3, 2) (1, 3) (2, 1)

In [75]:
import copy

original = [[1, 2], [3, 4]]

shallow = copy.copy(original)
shallow
deep = copy.deepcopy(original)

In [94]:
#Find the first non-repeating character in a string.
ss="anandsagar"

tt={}
for i in ss:
    tt[i]=ss.count(i)
print(tt)

dd=min(tt,key=tt.get)
print(dd)
print(tt[dd])

{'a': 4, 'n': 2, 'd': 1, 's': 1, 'g': 1, 'r': 1}
d
1

In [ ]:
       ################################################################

In [136]:
# Find the first non-repeating character in a string
ss="per"

for i in ss:
    if ss.count(i)==1:
        output = i
        break
print(output)

p

In [150]:
# Check if a string contains all unique characters
ss="abcde"

is_unique = len(set(s)) == len(s)
print(is_unique)

True

In [34]:
# Find all duplicates in a string/list
mm=[2,3,1,2,4,5,4]
# mm="programming"

# hh=set()
# kk=set()
# for i in mm:
#     if i in kk:
#         hh.add(i)
#     kk.add(i)
# print(list(hh))


duplicate=[]
for i in mm:
    if mm.count(i) > 1 and i not in duplicate:
        duplicate.append(i)
print(duplicate)

[2, 4]

In [169]:
# Remove duplicates from a list (without using set)
mm=[2,3,1,2,4,5,4]
# hh=set()
# kk=set()
# for i in mm:
#     if i in kk:
#         hh.add(i)
#     kk.add(i)
# print(list(hh))

hh=[]
for i in mm:
    if i not in hh:
        hh.append(i)
print(hh)

[2, 3, 1, 4, 5]

In [173]:
# Flatten a nested list (e.g. [1, [2,7, [3, 4]]])

nested_list = [1,8, [2,7, [3, 4]]]
flat_list = []
stack = nested_list[::-1]  # reverse to simulate stack (LIFO)

while stack:
    item = stack.pop()
    if isinstance(item, list):
        stack.extend(item[::-1])  # reverse before extending
    else:
        flat_list.append(item)

print(flat_list)  # Output: [1, 2, 3, 4]

[1, 8, 2, 7, 3, 4]

In [180]:
# Find common elements in two lists
ss=[2,3,4,5,6]
mm=[3,1,7,4,6]

tt=[]
for i in ss:
    for j in mm:
        if i==j:
            tt.append(i)
print(tt)

[3, 4, 6]

In [181]:
# Find all pairs with a given sum in a list
lst = [2, 4, 3, 5, 7, 8, -1]
target = 7

for i in range(len(lst)):
    for j in range(i + 1, len(lst)):
        if lst[i] + lst[j] == target:
            print(f"Pair: ({lst[i]}, {lst[j]})")

Pair: (2, 5)
Pair: (4, 3)
Pair: (8, -1)

In [ ]:
# Merge two sorted lists
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged = []

i = j = 0

# Merge until one list ends
while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
        merged.append(list1[i])
        i += 1
    else:
        merged.append(list2[j])
        j += 1

# Add remaining elements
merged.extend(list1[i:])
merged.extend(list2[j:])

print("Merged List:", merged)
# Output: [1, 2, 3, 4, 5, 6, 7, 8]

In [185]:
# Find the most frequent word in a sentence
ss="programming"
dd={}
for i in ss:
    dd[i]=ss.count(i)
print(dd)

most = max(dd,key=dd.get)
print(most)
print(dd[most])

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}
p
1

In [ ]:
# Check for Armstrong number

In [ ]:
# LCM and GCD calculation
import math
a = 36
b = 60

print("GCD:", math.gcd(a, b))             # Output: 12
print("LCM:", abs(a * b) // math.gcd(a, b))  # Output: 180

In [36]:
nested_list = [1, [2, [3, 4]]]
flat_list = []
stack = nested_list[::-1]  

while stack:
    item = stack.pop()
    if isinstance(item, list):
        stack.extend(item[::-1])  
    else:
        flat_list.append(item)

print(flat_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]