In [7]:
fac = 1
for i in range(1,5):
    fac=fac*i
    print(fac)

1
2
6
24

In [13]:
nums=[2,5,10,14,21,4,4]
dd=nums[0]
for i in nums:
    if i<dd:
        dd=i
print(dd)

2

In [14]:
dd={}
for i in nums:
    dd[i]=nums.count(i)
print(dd)

{2: 1, 5: 1, 10: 1, 14: 1, 21: 1, 4: 2}

In [17]:
nums=[2,5,10,14,21,4,4]
nums1=[2,0,9,14,2,21,4,4]
mm=[]
for i in nums:
    for j in nums1:
        if i==j:
            mm.append(i)
print(mm)

[2, 2, 14, 21, 4, 4, 4, 4]

In [19]:
nums1=[2,0,9,14,2,21,4,2,4]

hh=[]
for i in nums1:
    if i not in hh:
        hh.append(i)
print(hh)

[2, 0, 9, 14, 21, 4]

In [326]:
nums1=[2,0,9,14,2,0,21,4,2,21,4]
hh=[]
for i in nums1:
    if nums1.count(i) > 1 and i not in hh:
        hh.append(i)
print(hh)

[2, 0, 21, 4]

In [24]:
dd={}
for i in nums1:
    dd[i]=i**2
print(dd)

{2: 4, 0: 0, 9: 81, 14: 196, 21: 441, 4: 16}

In [44]:
ss="anandFagstIqiOvsAU"
uu=ss.lower()
dd={}
tt=['a','e','i','o','u']
for i in ss.lower():
    if i in tt:
        dd[i]=(ss.lower()).count(i)
print(dd)

{'a': 4, 'i': 2, 'o': 1, 'u': 1}

In [32]:
ss="anandFagstIqiOvsAU"
ss.lower()

'anandfagstiqiovsau'

In [45]:
ss="anandFagstIqiOvsAU"
tt='a'
dd={}
for i in ss.lower():
    if i in tt:
        dd[i]=(ss.lower()).count(i)
print(dd)

{'a': 4}

In [4]:
fib=[0,1]

for i in range(5):
    fib.append(fib[-1]+fib[-2])
print(fib)

[0, 1, 1, 2, 3, 5, 8]

In [47]:
5/2

2.5

In [48]:
5//2

2

In [53]:
tt = "listEn"
hh="sileNt"
sorted(hh.lower())==sorted(tt.lower())

True

In [55]:
ss = "asfg eyj eyh jn e yy"
hh=" "
count=0
for i in ss:
    if i in hh:
        count+=1
print(count)

5

In [7]:
ss = "prohyta5473 try wwecd7839 "
d=0
l=0
s=0
for i in ss:
    if i.isdigit():
        d+=1
    elif i.isspace():
        s+=1
    elif i.isalpha():
        l+=1
print(d)
print(s)
print(l)
print([d,s,l])

8
3
15
[8, 3, 15]

In [60]:
ss="WteurbtI"
ss.replace("W","M")

'MteurbtI'

In [6]:
hh=[]
for i in range(3):
    name=str(input("ente the name"))
    age=int(input("enter the age"))
    hh.append({"name":name,"Age":age})
print(sorted(hh,key=lambda x:x["name"]))

ente the name sa
enter the age 32
ente the name as
enter the age 22
ente the name vk
enter the age 43

[{'name': 'as', 'Age': 22}, {'name': 'sa', 'Age': 32}, {'name': 'vk', 'Age': 43}]

In [13]:
input_list = [12, 21, 32, 12, [23, 43, 11]]
dd=[]
for i in input_list:
    if isinstance(i,list):
        dd.extend(i)
    else:
        dd.append(i)
print(dd)

[12, 21, 32, 12, 23, 43, 11]

In [29]:
tt=[[1,2,6],[5,6]]
# mm=[]
# for i in tt:
#     for j in i:
#         mm.append(j)
# print(mm)

kk=[]
for i in tt:
    if isinstance(i,list):
        kk.extend(i)
    else:
        kk.append(i)
print(kk)

[1, 2, 6, 5, 6]

In [79]:
input_list = [[23, 43, 11],[23,34]]

# gg=[]
# for i in input_list:
#     for j in i:
#         gg.append(j)
# print(gg)
mm=[]
for i in input_list:
    if isinstance(i,list):
        mm.extend(i)
    else:
        mm.append(i)
print(mm)

[23, 43, 11, 23, 34]

In [36]:
tt = [1,2,0,4,0,5,0,5]

for i in tt:
    if i==0:
        tt.remove(i)
        tt.append(i)
print(ss)

prohyta5473 try wwecd7839

In [43]:
dd=[1, 2, 4, 5, 5, 0, 0, 0]
dd[-1],dd[0]=dd[0],dd[-1]
print(dd)
dd[0],dd[-1] = dd[-1],dd[0]
print(dd)

[0, 2, 4, 5, 5, 0, 0, 1]
[1, 2, 4, 5, 5, 0, 0, 0]

In [268]:
input1="aabbccohohe"
output = "e"

for i in input1:
    if input1.count(i)==1:
        output=i
        break
print(output)

e

In [47]:
tt=[1,2,3,9,4,4,3,2,1]
mm=[]
for i in tt:
    if tt.count(i)==1:
        mm.append(i)
print(mm)

[9]

In [59]:
ss="i am anand sagar i need to go to school"
dd={}
for i in ss.replace(" ",""):
    dd[i]=ss.count(i)
print(dd)
most=max(dd,key=dd.get)
print(most)
hh=dd[most]
print(hh)

{'i': 2, 'a': 5, 'm': 1, 'n': 3, 'd': 2, 's': 2, 'g': 2, 'r': 1, 'e': 2, 't': 2, 'o': 5, 'c': 1, 'h': 1, 'l': 1}
a
5

In [70]:
### Factorial

def factorial(n):
    if n==0 & n==1:
        return 1
    else:
        mm=1
        for i in range(1,n):
            mm=mm*i
        return mm

In [76]:
factorial(-5)

1

In [77]:
ss=list(input("enter the number"))

enter the number 23

In [78]:
ss=[3,4,5]
[i**2 for i in ss]

[9, 16, 25]

In [82]:
input1="aabbc"
output = "c"

for i in input1:
    if input1.count(i)==1:
        output=i
        break
print(output)

c

In [93]:
ss="i am anand sagar i need tao gao tao sachaaaaaaool"
mm={}
for i in ss:
    mm[i]=ss.count(i)
print(mm)

hh=max(mm,key=mm.get)
print(hh)
kk=mm[hh]
print(kk)

{'i': 2, ' ': 9, 'a': 15, 'm': 1, 'n': 3, 'd': 2, 's': 2, 'g': 2, 'r': 1, 'e': 2, 't': 2, 'o': 5, 'c': 1, 'h': 1, 'l': 1}
a
15

In [101]:
list1 = [1, 5,3, 7]
list2 = [2,6,4, 8]

kk=sorted(list1)
mm=sorted(list2)
hh=kk+mm
print(sorted(hh))

[1, 2, 3, 4, 5, 6, 7, 8]

dd=[2,3,1,2,4,5,4]
mm=[]

for i in dd:
    if dd.count(i) >1 and i not in mm:
        mm.append(i)
print(mm)

In [ ]:
# remove duplicate
# find duplicate
# find Non-repeating Character
# max number character and how many times

In [89]:
# l1 = [2,4,3]
# l2 = [5,6,4]
# output=[7,0,8]

# ss=int("".join(map(str,l1[::-1])))
# kk=int("".join(map(str,l2[::-1])))
# mm=ss+kk

# tt=[]
# for i in str(mm):
#     tt.append(int(i))
# print(tt[::-1])     

input1=-123
output=321

if input1 > 0:
    ss=int((str(input1))[::-1])
    print(ss)
else:
    dd=int((str(abs(input1)))[::-1])
    print(-dd)

-321

In [6]:
nums = [3,2,4,3,7,1,7,-1,9,3,-3,1]
target = 6
hh=[]
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i]+nums[j]==target:
            hh.append([nums[i],nums[j]])
print(hh)

[[3, 3], [3, 3], [2, 4], [3, 3], [7, -1], [7, -1], [9, -3]]

In [11]:
input1=-123
output=321

# input2=-123
# output=-321

if input1>0:
    print(int(str(input1)[::-1]))
elif input1<0:
    ss= int(str(abs(input1))[::-1])
    print(-ss)

-321

In [87]:
# l1 = [2,4,3]
# l2 = [5,6,4]
# Output= [7,0,8]

l1 = [9,9,9,9,9,9,9]
l2 = [9,9,9,9]

ss=int("".join(map(str,l1[::-1])))

hh= int("".join(map(str,l2[::-1])))

total=ss+hh
mm=[]
for i in str(total):
    mm.append(int(i))
print(mm[::-1])

[8, 9, 9, 9, 0, 0, 0, 1]

In [58]:
list(map(lambda x,y:x+y,[2,4,5,12,3,3,4,5],[3,6,8,9,1]))

[5, 10, 13, 21, 4]

In [91]:
# palindrome
ss="madam"

if ss==ss[::-1]:
    print("Palindrome")
else:
    print("not palindrome")

not palindrome

In [93]:
# fibnonacci series
fib=[0,1]
for i in range(1,10):
    fib.append(fib[-1]+fib[-2])
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [96]:
ss=[5, 8, 13,90, 21, 1,34, 55]

mm=ss[0]
for i in ss:
    if i<mm:
        mm=i
print(mm)

1

In [114]:
# Frequency of each element
ss=[5, 8, 8,5,55,21,1,13,90, 21, 1,34, 55]
gg={}
for i in ss:
    gg[i]=ss.count(i)
print(gg)

{5: 2, 8: 2, 55: 2, 21: 2, 1: 2, 13: 1, 90: 1, 34: 1}

In [105]:
# common element from both list
ss=[5, 8, 8,5,55,21,1,13,90, 21, 1,34, 55]
mm=[90, 21, 1,34, 55]
kk=[]
for i in ss:
    if i in mm:
        kk.append(i)
print(kk)

[55, 21, 1, 90, 21, 1, 34, 55]

In [111]:
# remove duplicate
ss=[5, 8, 8,5,55,21,1,13,90, 21, 1,34, 55]
kk=[]
for i in ss:
    if ss.count(i)>1 and i not in kk :
        kk.append(i)
print(kk)
# [5, 8, 8, 5, 55, 21, 1, 21, 1, 55]

[5, 8, 55, 21, 1]

In [113]:
#find duplicate
ss=[5, 8, 8,5,55,21,1,13,90, 21, 1,34, 55]
hh=[]
for i in ss:
    if ss.count(i)>1:
        hh.append(i)
print(hh)

[5, 8, 8, 5, 55, 21, 1, 21, 1, 55]

In [117]:
# count each vowel in word
word = 'prougraammiing'

ff=['a','e','i','o','u','A','E','I','O','U']
tt={}
for i in word:
    if i in ff:
        tt[i]=word.count(i)
print(tt)

{'o': 1, 'u': 1, 'a': 2, 'i': 2}

In [118]:
# Counting vowel in a given word
word = 'prougraammiing'
ff=['a','e','i','o','u','A','E','I','O','U']
count=0
for i in word:
    if i in ff:
        count+=1
print(count)

6

In [120]:
# Counting the number of occurances of a character in a string.
word = 'pgrogramming'
charc ='g'
count=0
for i in word:
    if i in charc:
        count+=1
print(count)

3

In [122]:
# find middle element in list
ss = [3,34,2,55,21, 1092,34, 55, 91,89]
ss[len(ss)//2]

1092

In [125]:
# Comparing two string is Anagram
tt = "listEn"
hh="silent"

if sorted(tt.lower())==sorted(hh.lower()):
    print("anagram")
else:
    print("not anagram")

anagram

In [133]:
# Counting digit,letter and spaces in a String.
ss = "prohyta5473 try wwecd7839 "

def cnt(ss):
    d=0
    a=0
    s=0
    for i in ss:
        if i.isdigit():
            d+=1
        elif i.isalpha():
            a+=1
        elif i.isspace():
            s+=1
    return d,a,s

In [134]:
cnt(ss)

(8, 15, 3)

In [135]:
d=0
a=0
s=0
for i in ss:
    if i.isdigit():
        d+=1
    elif i.isalpha():
        a+=1
    elif i.isspace():
        s+=1
print(d)
print(a)
print(s)

8
15
3

In [147]:
mm=[]
for i in range(2):
    name=str(input("enter the name"))
    age = int(input("enter the age"))
    mm.append({'name':name,'age':age})
print(mm)
hh=sorted(mm,key=lambda x:x['age'])
print(hh)

enter the name anand
enter the age 45
enter the name sagar
enter the age 23

[{'name': 'anand', 'age': 45}, {'name': 'sagar', 'age': 23}]
[{'name': 'sagar', 'age': 23}, {'name': 'anand', 'age': 45}]

In [145]:
dict(mm)

{'name': 'age'}

In [148]:
input_list = [[12, 21, 32], [12, 23, 43, 11]]
mm=[]
for i in input_list:
    if isinstance(i,list):
        mm.extend(i)
    else:
        mm.append(i)
print(mm)

[12, 21, 32, 12, 23, 43, 11]

In [149]:
input_list = [12, 21, 32, 12, [23, 43, 11]]
kk=[]
for i in input_list:
    if isinstance(i,list):
        kk.extend(i)
    else:
        kk.append(i)
print(kk)

[12, 21, 32, 12, 23, 43, 11]

In [150]:
# sum of all element
sum=0
for i in range(10):
    sum+=i
print(sum)

45

In [157]:
# factorial
fac=1
for i in range(1,5):
    fac=fac*i
print(fac)

24

In [169]:
nums = [2,7,1,-8,-2,11,15,11,32,32,50]
target = 40
mm=[]
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        for k in range(j+1,len(nums)):
            if nums[i]+nums[j]+nums[k]==target:
                mm.append((nums[i],nums[j],nums[k]))
print(mm)

[(7, 1, 32), (7, 1, 32), (-8, -2, 50)]

In [172]:
# add all zero at the  end 
tt = [1,2,0,4,0,5,0,5]

for i in tt:
    if i==0:
        tt.remove(i)
        tt.append(i)
print(tt)

[1, 2, 4, 5, 5, 0, 0, 0]

In [174]:
# change pos last to first and first to last
tt = [10, 20, 30, 40, 50]
tt[-1],tt[0]=tt[0],tt[-1]
tt

[50, 20, 30, 40, 10]

In [96]:
## find Non-repeating Character
input1="aabbcmrt"
output = "c"

for i in input1:
    if input1.count(i)==1:
        output=i
        print(output)

c
m
r
t

In [98]:
## find first Non-repeating Character
input1="aabxbcmrt"

for i in input1:
    if input1.count(i)==1:
        output=i
        break
print(output)

x

In [186]:
## find Non-repeating element in list
ss=[1,2,3,4,56,2,1,6,8,9,3,3,4,56]
dd=[]
for i in ss:
    if ss.count(i)==1:
        dd.append(i)
print(dd[0])

6

In [195]:
# max number character and how many times

ss="i am anaaaaaand sagari need to go to school"
dd={}
for i in ss:
    dd[i]=ss.count(i)
# print(dd)

ff=max(dd,key=dd.get)
print(ff)
hh=dd[ff]
print(hh)

a
10

In [336]:
# Capitalize first word in a sentence
ss="i am going to school"

for i in ss.split():
    dd=i[0].upper()  + i[1:]
    print(dd,end=" ")

# dd=ss[0].upper() + ss[1:]
# print(dd)

 m oing o chool

In [165]:
  # Find missing number

ss=[1,2,3,4,5,9,6,7]
n=len(ss)+1
expected = n*(n+1)//2
actual = sum(ss)
missing = expected - actual
print(missing)

8

In [337]:
              ################ ACCENTURE ##################
ss=[1,2,3,4,5,6,7]
output=[4,16,36]
dd=[]
for i in ss:
    if i%2==0:
        dd.append(i**2)
print(dd)


gg=["werrtt","qwaser","qwertyui"]
output="qwertyui"

max_len=0
max_str=0
for i in gg:
    if len(i)>max_len:
        max_len=len(i)
        max_str=i
print(max_str)
print(max_len)

[4, 16, 36]
qwertyui
8

In [199]:
ss=[1,2,3,4,5,6]

kk=[]
for i in ss:
    if i%2==0:
        kk.append(i**2)
print(kk)

[4, 16, 36]

In [232]:
# tt=["qwert","retubty","ytwercfghjk"]
tt=[2,3,4,1,56,43,23]

# kk=0
# mm=0
# for i in tt:
#     if len(i)>kk:
#         kk=len(i)
#         mm=i
# print(mm)
# print(kk)

# hh=tt[0]
# for i in tt:
#     if i<hh:
#         hh=i
# print(hh)

56

In [298]:
dd=[1,2,45,67,23,"qwer","retyuvrnn","wett"]

kk=[]
hh=[]
for i in dd:
    if isinstance(i,int):
        kk.append(i)
    elif isinstance(i,str):
        hh.append(i)
print(hh)
print(kk)

['qwer', 'retyuvrnn', 'wett']
[1, 2, 45, 67, 23]

In [272]:
# Write a Python program to find the list of words that are longer than or equal to 4 from a given string.
Input= 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
#Output:- ['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']
#Note:- Duplicate should be avoided.
kk=[]
for i in Input.split():
    if len(i)>=4 and i not in kk:
        kk.append(i)
print(kk)
# hh=[]
# ss=[]
# for j in kk:
#     if j not in hh:
#         ss.append(j)
# print(ss)

['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']

In [159]:
   ### check if a string contains all unique character

ss="ansgr"

if len(set(ss))==len(ss):
    print("u")
else:
    print("n u")

u

In [169]:
ss="anansagar"

dd=list(set(ss))
ff="".join(dd)
ff

'nagsr'

In [172]:
ss="a1b2c3d4"
kk=[]
mm=[]
for i in ss:
    if i.isdigit():
        kk.append(i)
    elif i.isalpha():
        mm.append(i)
print(["".join(kk),"".join(mm)])
# print(mm)

['1234', 'abcd']

In [192]:
ss=["Apple","Animal","Bat","Ball","Cat","Candy"]
# output = {'A':['Animals','Apple'],
#           'B':['Ball','Bat'],
#           'C':['Candy','Cat']}

from collections import defaultdict
kk=defaultdict(list)
for i in ss:
    dd=i[0].upper()
    kk[dd].append(i)
print(kk)

for j in kk:
    kk[j].sort()
print(dict(kk))

defaultdict(<class 'list'>, {'A': ['Apple', 'Animal'], 'B': ['Bat', 'Ball'], 'C': ['Cat', 'Candy']})
{'A': ['Animal', 'Apple'], 'B': ['Ball', 'Bat'], 'C': ['Candy', 'Cat']}

In [267]:
ss=["listen","silent","enlist","hello","world","dlrow"]
# output=[["listen","silent","enlist"],["hello"],["world","dlrow"]]
kk={}
for i in ss:
    dd="".join(sorted(i))
    if dd not in kk:
        kk[dd]=[]
    kk[dd].append(i)
print(kk)

mm=[]
for j in kk:
    mm.append(kk[j])
print(mm)

{'eilnst': ['listen', 'silent', 'enlist'], 'ehllo': ['hello'], 'dlorw': ['world', 'dlrow']}
[['listen', 'silent', 'enlist'], ['hello'], ['world', 'dlrow']]

In [1]:
ss=[2,16,5,8,16,1]

dd=ss[0]
for i in ss:
    if i>dd:
        dd=i
print(dd)

mm=ss[0]
for i in ss:
    if i<mm:
        mm=i
print(mm)

kk=(dd+mm)/2
print([kk])

16
1
[8.5]

In [7]:
                                            ######## INTERVIEW   ##########

# write the code where length should be 6 or more then 6 and "r" should be present 
ss=["jarva","python","go-lanrg","rust","anandrtw","scala"]
l=6
char = "r"

for i in ss:
    if char in i and len(i)>=6:
        print(i)

go-lanrg
anandrtw

# LeetCode

In [119]:
            ############ 1.TWO SUM

# Example 1:
# Input: nums = [2,7,11,15], target = 9
# Output: [0,1]
# Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].
# Example 2:

# Input: nums = [3,2,4], target = 6
# Output: [1,2]
# Example 3:

# Input: nums = [3,3], target = 6
# Output: [0,1]

nums = [3,2,4]
target = 6

kk=[]
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i]+nums[j]==target:
            print([i,j])
#             kk.append([nums[i],nums[j]])
# print(kk)

[1, 2]

In [128]:
                        ########## 2. ADD TWO NUMBERS


# Input: l1 = [2,4,3], l2 = [5,6,4]
# Output: [7,0,8]
# Explanation: 342 + 465 = 807.
# Example 2:

# Input: l1 = [0], l2 = [0]
# Output: [0]
# Example 3:

# Input: l1 = [9,9,9,9,9,9,9], l2 = [9,9,9,9]
# Output: [8,9,9,9,0,0,0,1]

l1 = [9,9,9,9,9,9,9]
l2 = [9,9,9,9]
Output: [7,0,8]

hh=int("".join(map(str,l1[::-1])))
mm=int("".join(map(str,l2[::-1])))

total=hh+mm

kk=[]
for i in str(total):
    kk.append(int(i))
print(kk[::-1])

10009998
[8, 9, 9, 9, 0, 0, 0, 1]

In [161]:
                ##### 3. Longest Substring Without Repeating Characters

# Example 1:
# Input: s = "abcabcbb"
# Output: 3
# Explanation: The answer is "abc", with the length of 3.
    
# Example 2:
# Input: s = "bbbbb"
# Output: 1
# Explanation: The answer is "b", with the length of 1.
    
# Example 3:
# Input: s = "pwwkew"
# Output: 3
# Explanation: The answer is "wke", with the length of 3.
# Notice that the answer must be a substring, "pwke" is a subsequence and not a substring.


           ##### 3. Longest Substring Without Repeating Characters
s = "abcabcbb"
Output= 3

start = 0
max_length = 0
char_index ={}
longest_substring = ""

for i in range(len(s)):
    if s[i] in char_index and char_index[s[i]] >=start:
        start = char_index[s[i]]+1
    char_index[s[i]] = i
    if i - start + 1 > max_length:
        max_length = i - start+1
        longest_substring = s[start:i+1]
print(longest_substring)
print(max_length)

abc
3

In [395]:
                ### 4. Median of Two Sorted Arrays

mm=[1,3,4]

if len(mm)%2==0:
    print((mm[len(mm)//2] + mm[len(mm)//2-1])/2.0)
else:
    print((mm[len(mm)//2])/2.0)

1.5

In [163]:
                    #### 5. Longest Palindromic Substring

# Example 1:
# Input: s = "babad"
# Output: "bab"
# Explanation: "aba" is also a valid answer.
    
# Example 2:
# Input: s = "cbbd"
# Output: "bb"

Input = "cbbd"
Output= "bb"
longest=""

for i in range(len(Input)):
    for j in range(i,len(Input)):
        substr = Input[i:j+1]
        if substr == substr[::-1] and len(substr) > len(longest):
            longest = substr
print(longest)

bb

In [150]:
         ####### 7. Reverse Integer

# Example 1:
# Input: x = 123
# Output: 321

# Example 2:
# Input: x = -123
# Output: -321
# Example 3:

# Example 3:
# Input: x = 120
# Output: 21


x = 120
Output= 21

if x > 0:
    dd=int((str(x))[::-1])
    print(dd)
elif x < 0:
    hh=int((str(abs(x)))[::-1])
    print(-hh)

21