# web scraping

    WHAT IS WEB SCRAPING?
-> Web Scraping is the website where information is allready available, I have to go and Fetch the data in my System (jupyter notebook etc ) then we have to analyze it, This is my requirement and we have to perform it.

    WHY ARE WE DOES IT?
-> It allows for the quick and efficient extraction of data    in the form of information from various sources.

-> For Data Analyst/Data Scientist,First job is Data Acquisition(Also Called Data Mining) is the process of data gathering.

-> Some time data is available or data will given by the client,Some time data is avaialble but not with our Organisation means data available on Social Website at that time we have to know the web scraping.

    WEB SCRAPING IS A ETHICAL OR UNETHICAL?
-> If We are taking the data for learning,Researching purpose then its a ethical if we are taking the data apart from that its a unethical.

    HOW TO VIEW HTML SOURCE CODE IN CHROME?
-> RANDOMLY GO TO ANY WEBSITE PAGE PRESS RIGHT CLICK AND CLICK ON INSPECT.

In [3]:
import requests  # request library

url = 'https://www.imdb.com/chart/top/'
print(requests.get(url))
 ## here permission is not given for this website

<Response [403]>

In [4]:
## dataset website name :- worldometer covid, worldometer, imdb top movies , AmbitionBox etc

In [12]:
url = 'https://www.worldometers.info/coronavirus/#countries'
r = requests.get(url) 
print(r) # permission is given
print(r.text) # we can see whole html page

<Response [200]>

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>COVID - Coronavirus Statistics - Worldometer</title>
    <meta name="description" content="Daily and weekly updated statistics tracking the number of COVID-19 cases, recovered, and deaths. Historical data with cumulative charts, graphs, and updates.">



	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- og image -->
	<meta property="og:image" content="http://www.worldometers.info/img/worldometers-fb.jpg" />

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/wm16.css" rel="stylesheet">
	<!-- font awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>


	    <!-- tables
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.js"></script>
 -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>


	<script type="text/javascript" class="init">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>

	<script type="text/javascript" class="init">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>



	<script type="text/javascript" class="init">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>

		<script type="text/javascript" class="init">
$(document).ready(function() {
	$('#popbycountry').dataTable();
} );
	</script>











</head>


<body>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZDP3BFSX60"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZDP3BFSX60');
</script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3701697624350410"
     crossorigin="anonymous"></script>





<style type="text/css">
    .style1 {
        color: #666666
    }
</style>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <div class="logo"><a href="/" class="navbar-brand"><img src="/img/worldometers-logo.gif" border="0" title="Worldometer"></a></div>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="/coronavirus/">Coronavirus</a></li>
                <li><a href="/population/">Population</a></li>
            </ul>
        </div>
    </div>
</div>
    <!-- MAIN -->
    <div class="container">

        <!-- TOP AD -->
        <div class="row">

            <div style="padding-top:15px; padding-bottom:15px; text-align:center;">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3701697624350410"
     crossorigin="anonymous"></script>
<!-- wm-top-24 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3701697624350410"
     data-ad-slot="5369103488"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
                    </div>
        <!-- TOP AD -->


        <!-- MAIN  -->

        <!-- CENTER -->

		<div class="row"> <div class="col-md-8">

        <!-- *** CONTENT A *** -->
        <div class="content-inner">

<style>
    .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
</style>





<!-- charts -->
<script src="/js/highcharts.js"></script>
<style type="text/css">
    .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
</style>

<div class="label-counter" id="page-top">COVID-19 Coronavirus Pandemic</div>
<div style="font-size:13px; color:#999; margin-top:5px; text-align:center">Last updated: February 17, 2024, 17:21 GMT</div>
<div style="margin-top:20px; text-align:center; font-size:14px"><a style="display: inline-block; position:relative;" href="/coronavirus/weekly-trends/" class="new_badge_link">Weekly Trends</a> - <a href="/coronavirus/worldwide-graphs/">Graphs</a> - <a href="#countries">Countries</a> - <a href="#news">News</a></div>




<div id="maincounter-wrap" style="margin-top:15px">
    <h1>Coronavirus Cases:</h1>
    <div class="maincounter-number">
        <span style="color:#aaa">703,423,507        </span>

    </div>
</div>

<div style="text-align:center "><a href="#countries">view by country</a></div>

<div id="maincounter-wrap" style="margin-top:15px">
    <h1>Deaths:</h1>
    <div class="maincounter-number">
        <span>6,984,154</span>
    </div>
</div>


<div id="maincounter-wrap" style="margin-top:15px;">
    <h1>Recovered:</h1>
    <div class="maincounter-number" style="color:#8ACA2B ">
        <span>674,177,411</span>
    </div>
</div>


<div style="margin-top:50px;"></div>

<!-- START -->
<style>
    .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
</style>
<script>
    var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('hide');
            } else {

                $('#panel_active').collapse('hide');
            }

            do_not_slide = false;

        });



    });
</script>



    <div class="col-md-6">
        <div class="panel panel-default">

            <div class="panel_clickable panel-heading" data-toggle="collapse" href="#panel_active" aria-expanded="false" aria-controls="panel_active" style="text-align:center;position:relative;">

                <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
                    Active Cases
                </span>
                <span class="collapse_button"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
                    </svg></span>
            </div>
            <div id="panel_active" class="collapse">
                <div class="panel-body" style="text-align:center;min-height:220px;">

                    <div class="panel_flip">

                        <div class="panel_front" style="width:100%;height:100%;">

                            <div class="number-table-main">22,261,942</div>
                            <div style="font-size:13.5px">Currently Infected Patients</div>

                            <div style="padding-top:20px;position:relative;text-align:center; ">
                                <div style="float:left; text-align:center">
                                    <span class="number-table" style="color:#8080FF">22,226,157</span> (<strong>99.8</strong>%)

                                    <div style="font-size:13px">in Mild Condition</div><br>
                                </div>
                                <div style="float:right; text-align:center"><span class="number-table" style="color:red ">35,785</span> (<strong>0.2</strong>%)
                                    <div style="font-size:13px">Serious or Critical</div><br>
                                </div>
                            </div>
                            <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;padding-top:20px;width:100%;">Show Graph</a>
                        </div>
                        <div class="panel_back" style="width:100%;height:100%;">


<div id="total-currently-infected-linear"></div>

<script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {

In [11]:
import requests
from bs4 import BeautifulSoup

# Beautiful soup deals with html,xml data.
# In html and xml, so many thing is there like tag,attribute,header,
#   string etc. Through Beautiful soup we can easily search , modify , navigate a 
#   parse tree html,xml files.

In [15]:
url = 'https://www.worldometers.info/world-population/india-population/'
r= requests.get(url)
soup = BeautifulSoup(r.text,'lxml')
print(soup)

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]--><!--[if IE 9]> <html lang="en" class="ie9"> <![endif]--><!--[if !IE]><!--><html lang="en"> <!--<![endif]--> <head> <meta charset="utf-8"/> <meta content="IE=edge" http-equiv="X-UA-Compatible"/> <meta content="width=device-width, initial-scale=1" name="viewport"/> <title>India Population (2024) - Worldometer</title> <meta content="Population of India: current, historical, and projected population, growth rate, immigration, median age, total fertility rate (TFR), population density, urbanization, urban population, country's share of world population, and global rank. Data tables, maps, charts, and live population clock" name="description"/><!-- Favicon --><link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/><link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/><link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/><link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/><link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/><link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/><link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/><link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/><link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/><link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/><link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/><link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/><link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/><link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/><link href="/favicon/manifest.json" rel="manifest"/><meta content="#ffffff" name="msapplication-TileColor"/><meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/><meta content="#ffffff" name="theme-color"/><!-- og image --><meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image"/> <!-- Bootstrap --> <link href="/css/bootstrap.min.css" rel="stylesheet"/><link href="/wm16.css" rel="stylesheet"/><!-- font awesome --><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/> <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --> <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]--><!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>--> <script src="/js/jquery.min.js"></script> <!-- Include all compiled plugins (below), or include individual files as needed --> <script src="/js/bootstrap.min.js"></script> <!-- IE10 viewport hack for Surface/desktop Windows 8 bug --> <script src="/js/ie10-viewport-bug-workaround.js"></script><!-- counters --><!-- Start Worldometers RTS Counters --><script type="text/javascript"> var rts_configuration =
{
RTS_key: 'worldometers',
RTS_keylen: 2,
format_defaults : {
decimalSeparator: '.',
thousandSeparator: ','
}
}</script><script src="https://www.realtimestatistics.net/rts/RTS-pop.js" type="text/javascript"></script><!-- End Worldometers RTS Counters --><!-- pop country css --><link href="/css/pop-countries.css" rel="stylesheet" type="text/css"/><!-- google charts --><script src="https://www.google.com/jsapi" type="text/javascript"></script><script><!--
google.load('visualization', '1', {'packages':['corechart'], 'language' : 'en'});
google.setOnLoadCallback(f_chart_pop);
var options_chart_pop={};
function f_chart_pop()
{
var dataT = new google.visualization.DataTable({cols: [{type:'date',label:'Date'},{type:'number',label:'India Population'}],
rows:
[
{c:[{v:new Date(	1950	,6,1)},{v:	357021100 }]},
{c:[{v:new Date(	1951	,6,1)},{v:	364922360	}]},
{c:[{v:new Date(	1952	,6,1)},{v:	372997188	}]},
{c:[{v:new Date(	1953	,6,1)},{v:	381227705	}]},
{c:[{v:new Date(	1954	,6,1)},{v:	389731406	}]},
{c:[{v:new Date(	1955	,6,1)},{v:	398577992	}]},
{c:[{v:new Date(	1956	,6,1)},{v:	407656597	}]},
{c:[{v:new Date(	1957	,6,1)},{v:	416935399	}]},
{c:[{v:new Date(	1958	,6,1)},{v:	426295763	}]},
{c:[{v:new Date(	1959	,6,1)},{v:	435900352	}]},
{c:[{v:new Date(	1960	,6,1)},{v:	445954579	}]},
{c:[{v:new Date(	1961	,6,1)},{v:	456351876	}]},
{c:[{v:new Date(	1962	,6,1)},{v:	467024193	}]},
{c:[{v:new Date(	1963	,6,1)},{v:	477933619	}]},
{c:[{v:new Date(	1964	,6,1)},{v:	489059309	}]},
{c:[{v:new Date(	1965	,6,1)},{v:	500114346	}]},
{c:[{v:new Date(	1966	,6,1)},{v:	510992617	}]},
{c:[{v:new Date(	1967	,6,1)},{v:	521987069	}]},
{c:[{v:new Date(	1968	,6,1)},{v:	533431909	}]},
{c:[{v:new Date(	1969	,6,1)},{v:	545314670	}]},
{c:[{v:new Date(	1970	,6,1)},{v:	557501301	}]},
{c:[{v:new Date(	1971	,6,1)},{v:	569999178	}]},
{c:[{v:new Date(	1972	,6,1)},{v:	582837973	}]},
{c:[{v:new Date(	1973	,6,1)},{v:	596107483	}]},
{c:[{v:new Date(	1974	,6,1)},{v:	609721951	}]},
{c:[{v:new Date(	1975	,6,1)},{v:	623524219	}]},
{c:[{v:new Date(	1976	,6,1)},{v:	637451448	}]},
{c:[{v:new Date(	1977	,6,1)},{v:	651685628	}]},
{c:[{v:new Date(	1978	,6,1)},{v:	666267760	}]},
{c:[{v:new Date(	1979	,6,1)},{v:	681248383	}]},
{c:[{v:new Date(	1980	,6,1)},{v:	696828385	}]},
{c:[{v:new Date(	1981	,6,1)},{v:	712869298	}]},
{c:[{v:new Date(	1982	,6,1)},{v:	729169466	}]},
{c:[{v:new Date(	1983	,6,1)},{v:	745826546	}]},
{c:[{v:new Date(	1984	,6,1)},{v:	762895156	}]},
{c:[{v:new Date(	1985	,6,1)},{v:	780242084	}]},
{c:[{v:new Date(	1986	,6,1)},{v:	797878993	}]},
{c:[{v:new Date(	1987	,6,1)},{v:	815716125	}]},
{c:[{v:new Date(	1988	,6,1)},{v:	833729681	}]},
{c:[{v:new Date(	1989	,6,1)},{v:	852012673	}]},
{c:[{v:new Date(	1990	,6,1)},{v:	870452165	}]},
{c:[{v:new Date(	1991	,6,1)},{v:	888941756	}]},
{c:[{v:new Date(	1992	,6,1)},{v:	907574049	}]},
{c:[{v:new Date(	1993	,6,1)},{v:	926351297	}]},
{c:[{v:new Date(	1994	,6,1)},{v:	945261958	}]},
{c:[{v:new Date(	1995	,6,1)},{v:	964279129	}]},
{c:[{v:new Date(	1996	,6,1)},{v:	983281218	}]},
{c:[{v:new Date(	1997	,6,1)},{v:	1002335230	}]},
{c:[{v:new Date(	1998	,6,1)},{v:	1021434576	}]},
{c:[{v:new Date(	1999	,6,1)},{v:	1040500054	}]},
{c:[{v:new Date(	2000	,6,1)},{v:	1059633675	}]},
{c:[{v:new Date(	2001	,6,1)},{v:	1078970907	}]},
{c:[{v:new Date(	2002	,6,1)},{v:	1098313039	}]},
{c:[{v:new Date(	2003	,6,1)},{v:	1117415123	}]},
{c:[{v:new Date(	2004	,6,1)},{v:	1136264583	}]},
{c:[{v:new Date(	2005	,6,1)},{v:	1154638713	}]},
{c:[{v:new Date(	2006	,6,1)},{v:	1172373788	}]},
{c:[{v:new Date(	2007	,6,1)},{v:	1189691809	}]},
{c:[{v:new Date(	2008	,6,1)},{v:	1206734806	}]},
{c:[{v:new Date(	2009	,6,1)},{v:	1223640160	}]},
{c:[{v:new Date(	2010	,6,1)},{v:	1240613620	}]},
{c:[{v:new Date(	2011	,6,1)},{v:	1257621191	}]},
{c:[{v:new Date(	2012	,6,1)},{v:	1274487215	}]},
{c:[{v:new Date(	2013	,6,1)},{v:	1291132063	}]},
{c:[{v:new Date(	2014	,6,1)},{v:	1307246509	}]},
{c:[{v:new Date(	2015	,6,1)},{v:	1322866505	}]},
{c:[{v:new Date(	2016	,6,1)},{v:	1338636340	}]},
{c:[{v:new Date(	2017	,6,1)},{v:	1354195680	}]},
{c:[{v:new Date(	2018	,6,1)},{v:	1369003306	}]},
{c:[{v:new Date(	2019	,6,1)},{v:	1383112050	}]},
{c:[{v:new Date(	2020	,6,1)},{v:	1396387127	}]},
{c:[{v:new Date(	2021	,6,1)},{v:	1407563842	}]},
{c:[{v:new Date(	2022	,6,1)},{v:	1417173173	}]},
{c:[{v:new Date(	2023	,6,1)},{v:	1428627663	}]},	{c:[{v:new Date(	2024	,6,1)},{v:	1441719852	}]}
]});
var mYF0=new google.visualization.DateFormat({pattern: 'yyyy'});
mYF0.format(dataT, 0);
var mNF1 = new google.visualization.NumberFormat({fractionDigits:0});
mNF1.format(dataT, 1);
var data = new google.visualization.DataView(dataT);
options_chart_pop['theme']='maximized';
options_chart_pop['hAxis']={gridlines:{color: '#eee'}};
options_chart_pop['vAxis']={minValue:0};
options_chart_pop['curveType']='function';
options_chart_pop['focusTarget']='category';
options_chart_pop['title']='';
var chart = new google.visualization.LineChart(document.getElementById('chart_pop'));
chart.draw(data, options_chart_pop);
}
--></script><script><!--
google.load('visualization', '1', {'packages':['corechart'], 'language' : 'en'});
google.setOnLoadCallback(f_chart_pop_rate);
var options_chart_pop_rate={};
function f_chart_pop_rate()
{
var dataT = new google.visualization.DataTable({cols: [{type:'date',label:'Date'},{type:'number',label:'Yearly Growth Rate (%)'}],
rows:
[
{c:[{v:new Date(	1951	,6,1)},{v:	2.21	}]},
{c:[{v:new Date(	1952	,6,1)},{v:	2.21	}]},
{c:[{v:new Date(	1953	,6,1)},{v:	2.21	}]},
{c:[{v:new Date(	1954	,6,1)},{v:	2.23	}]},
{c:[{v:new Date(	1955	,6,1)},{v:	2.27	}]},
{c:[{v:new Date(	1956	,6,1)},{v:	2.28	}]},
{c:[{v:new Date(	1957	,6,1)},{v:	2.28	}]},
{c:[{v:new Date(	1958	,6,1)},{v:	2.25	}]},
{c:[{v:new Date(	1959	,6,1)},{v:	2.25	}]},
{c:[{v:new Date(	1960	,6,1)},{v:	2.31	}]},
{c:[{v:new Date(	1961	,6,1)},{v:	2.33	}]},
{c:[{v:new Date(	1962	,6,1)},{v:	2.34	}]},
{c:[{v:new Date(	1963	,6,1)},{v:	2.34	}]},
{c:[{v:new Date(	1964	,6,1)},{v:	2.33	}]},
{c:[{v:new Date(	1965	,6,1)},{v:	2.26	}]},
{c:[{v:new Date(	1966	,6,1)},{v:	2.18	}]},
{c:[{v:new Date(	1967	,6,1)},{v:	2.15	}]},
{c:[{v:new Date(	1968	,6,1)},{v:	2.19	}]},
{c:[{v:new Date(	1969	,6,1)},{v:	2.23	}]},
{c:[{v:new Date(	1970	,6,1)},{v:	2.23	}]},
{c:[{v:new Date(	1971	,6,1)},{v:	2.24	}]},
{c:[{v:new Date(	1972	,6,1)},{v:	2.25	}]},
{c:[{v:new Date(	1973	,6,1)},{v:	2.28	}]},
{c:[{v:new Date(	1974	,6,1)},{v:	2.28	}]},
{c:[{v:new Date(	1975	,6,1)},{v:	2.26	}]},
{c:[{v:new Date(	1976	,6,1)},{v:	2.23	}]},
{c:[{v:new Date(	1977	,6,1)},{v:	2.23	}]},
{c:[{v:new Date(	1978	,6,1)},{v:	2.24	}]},
{c:[{v:new Date(	1979	,6,1)},{v:	2.25	}]},
{c:[{v:new Date(	1980	,6,1)},{v:	2.29	}]},
{c:[{v:new Date(	1981	,6,1)},{v:	2.3	}]},
{c:[{v:new Date(	1982	,6,1)},{v:	2.29	}]},
{c:[{v:new Date(	1983	,6,1)},{v:	2.28	}]},
{c:[{v:new Date(	1984	,6,1)},{v:	2.29	}]},
{c:[{v:new Date(	1985	,6,1)},{v:	2.27	}]},
{c:[{v:new Date(	1986	,6,1)},{v:	2.26	}]},
{c:[{v:new Date(	1987	,6,1)},{v:	2.24	}]},
{c:[{v:new Date(	1988	,6,1)},{v:	2.21	}]},
{c:[{v:new Date(	1989	,6,1)},{v:	2.19	}]},
{c:[{v:new Date(	1990	,6,1)},{v:	2.16	}]},
{c:[{v:new Date(	1991	,6,1)},{v:	2.12	}]},
{c:[{v:new Date(	1992	,6,1)},{v:	2.1	}]},
{c:[{v:new Date(	1993	,6,1)},{v:	2.07	}]},
{c:[{v:new Date(	1994	,6,1)},{v:	2.04	}]},
{c:[{v:new Date(	1995	,6,1)},{v:	2.01	}]},
{c:[{v:new Date(	1996	,6,1)},{v:	1.97	}]},
{c:[{v:new Date(	1997	,6,1)},{v:	1.94	}]},
{c:[{v:new Date(	1998	,6,1)},{v:	1.91	}]},
{c:[{v:new Date(	1999	,6,1)},{v:	1.87	}]},
{c:[{v:new Date(	2000	,6,1)},{v:	1.84	}]},
{c:[{v:new Date(	2001	,6,1)},{v:	1.82	}]},
{c:[{v:new Date(	2002	,6,1)},{v:	1.79	}]},
{c:[{v:new Date(	2003	,6,1)},{v:	1.74	}]},
{c:[{v:new Date(	2004	,6,1)},{v:	1.69	}]},
{c:[{v:new Date(	2005	,6,1)},{v:	1.62	}]},
{c:[{v:new Date(	2006	,6,1)},{v:	1.54	}]},
{c:[{v:new Date(	2007	,6,1)},{v:	1.48	}]},
{c:[{v:new Date(	2008	,6,1)},{v:	1.43	}]},
{c:[{v:new Date(	2009	,6,1)},{v:	1.4	}]},
{c:[{v:new Date(	2010	,6,1)},{v:	1.39	}]},
{c:[{v:new Date(	2011	,6,1)},{v:	1.37	}]},
{c:[{v:new Date(	2012	,6,1)},{v:	1.34	}]},
{c:[{v:new Date(	2013	,6,1)},{v:	1.31	}]},
{c:[{v:new Date(	2014	,6,1)},{v:	1.25	}]},
{c:[{v:new Date(	2015	,6,1)},{v:	1.19	}]},
{c:[{v:new Date(	2016	,6,1)},{v:	1.19	}]},
{c:[{v:new Date(	2017	,6,1)},{v:	1.16	}]},
{c:[{v:new Date(	2018	,6,1)},{v:	1.09	}]},
{c:[{v:new Date(	2019	,6,1)},{v:	1.03	}]},
{c:[{v:new Date(	2020	,6,1)},{v:	0.96	}]},
{c:[{v:new Date(	2021	,6,1)},{v:	0.8	}]},
{c:[{v:new Date(	2022	,6,1)},{v:	0.68	}]},
{c:[{v:new Date(	2023	,6,1)},{v:	0.81	}]},	{c:[{v:new Date(	2024	,6,1)},{v:	0.92	}]}
]});
var mYF0=new google.visualization.DateFormat({pattern: 'yyyy'});
mYF0.format(dataT, 0);
options_chart_pop_rate['hAxis']={format:'#,##%'};
var data = new google.visualization.DataView(dataT);
options_chart_pop_rate['theme']='maximized';
options_chart_pop_rate['hAxis']={gridlines:{color: '#eee'}};
options_chart_pop_rate['vAxis']={minValue:0};
options_chart_pop_rate['curveType']='function';
options_chart_pop_rate['focusTarget']='category';
var chart = new google.visualization.LineChart(document.getElementById('chart_pop_rate'));
chart.draw(data, options_chart_pop_rate);
}
--></script><script src="https://code.highcharts.com/highcharts.js"></script></head><body><!-- Google tag (gtag.js) --><script async="" src="https://www.googletagmanager.com/gtag/js?id=G-ZDP3BFSX60"></script><script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZDP3BFSX60');</script><script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3701697624350410"></script><style type="text/css"> .style1 { color: #666666 }</style><div class="navbar navbar-default"> <div class="container"> <div class="navbar-header"> <div class="logo"><a class="navbar-brand" href="/"><img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/></a></div> <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> </div> <div class="navbar-collapse collapse" id="navbar-main"> <ul class="nav navbar-nav"> <li><a href="/coronavirus/">Coronavirus</a></li> <li><a href="/population/">Population</a></li> </ul> </div> </div></div><!-- MAIN --><div class="container"><!-- TOP AD --><div class="row"><div style="padding-top:15px; padding-bottom:15px; text-align:center;"><script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3701697624350410"></script><!-- wm-top-24 --><ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-format="auto" data-ad-slot="5369103488" data-full-width-responsive="true" style="display:block"></ins><script> (adsbygoogle = window.adsbygoogle || []).push({});</script></div></div><!-- TOP AD --><!-- MAIN --><!-- LEFT (only desktop) --><div class="row"> <div class="col-md-2 hidden-sm hidden-xs col-wm-left-ad"> <!-- CENTER --></div><div class="col-md-6"> <!-- *** CONTENT A *** --><div class="content"><ul class="breadcrumb"> <li><a href="/">W</a></li><li><a href="/population/">Population</a></li> <li><a href="/population/world/">World</a></li><li><a href="/population/asia/">Asia</a></li><li><a href="/population/asia/southern-asia/">Southern Asia</a></li><li class="active">India</li></ul> <!-- MAIN COUNTER --> <div id="maincounter-wrap"> <h1> India Population <span class="live">(LIVE)</span></h1> <div class="maincounter-number"> <span class="rts-counter" rel="india-population">retrieving data... </span></div> </div><!-- MAIN COUNTER --><!-- CHARTS --><div class="charts-wrap"> <table border="0" cellpadding="0" width="100%"> <tr> <td> <div class="chart-header">India Population (1950 - 2024)</div> <div class="chart-pop" id="chart_pop"></div></td> </tr> <tr> <td><div class="chart-header">Yearly Population Growth Rate (%) </div> <div class="chart-pop-rate" id="chart_pop_rate"></div></td> </tr> </table></div><!-- CHARTS --></div><!-- *** CONTENT A *** --><!-- RIGHT --></div><div class="col-md-4 adright"></div></div><!-- /RIGHT --><!-- c --><div class="row"><div class="col-md-12"><!-- content c --><div class="content-inner"> <style type="text/css"><!--
.style1 {font-weight: bold}

In [17]:
# if i want to div tags only then
print(soup.div)
# The <div> tag defines a division or a section in an HTML document.

<div class="navbar navbar-default"> <div class="container"> <div class="navbar-header"> <div class="logo"><a class="navbar-brand" href="/"><img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/></a></div> <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> </div> <div class="navbar-collapse collapse" id="navbar-main"> <ul class="nav navbar-nav"> <li><a href="/coronavirus/">Coronavirus</a></li> <li><a href="/population/">Population</a></li> </ul> </div> </div></div>

In [20]:
print(soup.div.a) # inside the div a tag is there

<a class="navbar-brand" href="/"><img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/></a>

In [22]:
print(soup.div.ul) # inside the div ul(unordered list) tag is there

<ul class="nav navbar-nav"> <li><a href="/coronavirus/">Coronavirus</a></li> <li><a href="/population/">Population</a></li> </ul>

In [40]:
print(soup.find('div'))

<div class="navbar navbar-default"> <div class="container"> <div class="navbar-header"> <div class="logo"><a class="navbar-brand" href="/"><img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/></a></div> <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> </div> <div class="navbar-collapse collapse" id="navbar-main"> <ul class="nav navbar-nav"> <li><a href="/coronavirus/">Coronavirus</a></li> <li><a href="/population/">Population</a></li> </ul> </div> </div></div>